* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    min-width: 1250px;
    min-height: 450px;
    margin: 0 auto;
    font-size: 14px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('@/imgs/bg.jpg');
}

a {
    cursor: pointer;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}

input {
    outline: none;
}