.login-module {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 350px;
    min-height: 350px;
    background: rgba(#fff, .9);
    .login-form {
         
    }
}