.template2 {
    display: none;
    .two-code-container {
        width: min-content;
        margin: 25px auto;
        margin-bottom: 10px;
        padding: 6px;
        background: #fff;
        box-shadow: 2px 4px 4px rgba(#000, .5);
    }
    .content {
        color: #666;
        font-size: 12px;
        text-align: center;
        margin-bottom: 25px;
    }
}
.login-module {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 350px;
    min-height: 350px;
    padding: 25px;
    background: rgba(#fff, .7);
    .code-icon,
    .screen-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 32px;
    }
    .screen-icon {
        display: none;
    }
    .login-mode {
        display: flex;
        font-size: 16px;
        font-weight: 700;
        color: #3c3c3c;
        margin-bottom: 15px;
        user-select: none;
        a {
            padding: 5px;
        }
        .mode-active {
            border-bottom: 2px solid #000;
        }
    }
    .login-form {
        .form-item {
            position: relative;
            display: flex;
            height: 42px;
            margin: 25px 0;
            .left-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 42px;
                background-color: #ccc;
                .icon-cen1,
                .icon-cen2 {
                    width: 30px;
                    height: 30px;
                }
            }
            .right-con {
                position: relative;
                flex: 1;
                .get-code {
                    display: none;
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    user-select: none;
                    font-size: 12px;
                    color: #999;
                }
                .pas-input1,
                .pas-input2 {
                    width: 100%;
                    height: 100%;
                    border: none;
                    text-indent: 1em;
                    font-size: 14px;
                    background: rgba(#fff, 1);
                }
            }
            .ver-text {
                display: none;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(120%) scale(.9);
                font-size: 12px;
                color: #f40;
            }
        }
        .submit-btn {
            display: block;
            width: 100%;
            height: 42px;
            color: #fff;
            font-size: 16px;
            letter-spacing: 10px;
            background: #f40;
            border-radius: 4px;
            &:hover {
                background: #f52b00;
            }
        }
    }
    .login-kind {
        display: flex;
        align-items: center;
        color: #666;
        font-size: 12px;
        margin: 18px 0;
        .kind-imgs {
            .kind-img {
                cursor: pointer;
                width: 23px;
                margin-right: 5px;
                transition: all .3s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .other-fun{
        display: flex;
        justify-content: flex-end;
        color: #666;
        font-size: 12px;
        .sp1,
        .sp2 {
            cursor: pointer;
            margin-left: 10px;
        }
    }
}